@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "@fontsource/gloria-hallelujah";
@import "@fontsource-variable/atkinson-hyperlegible-next";

@theme {
	--font-handwritten: "Gloria Hallelujah", cursive;
	--font-heading: "Atkinson Hyperlegible Next Variable", var(--font-sans);

	--color-fd-primary: #0087be;
}

	.dark {
		--color-fd-primary: #00d9ff;
	}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading;
	}
}

@media print {
	#nd-docs-layout {
		--fd-sidebar-width: 0px !important;
	}
	#nd-sidebar,
	#nd-sidebar-mobile,
	#nd-subnav,
	#nd-tocnav,
	#page-actions,
	#feedback,
	#feedback + div,
	#feedback + div + div {
		display: none;
	}

	article {
		@apply pt-0;
		@apply px-0;
	}
	#nd-page,
	#nd-docs-layout {
		@apply pt-0;
	}
}
