@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "@fontsource/gloria-hallelujah";
@import "@fontsource-variable/atkinson-hyperlegible-next";

@theme {
  --font-handwritten: "Gloria Hallelujah", cursive;
  --font-heading: "Atkinson Hyperlegible Next Variable", var(--font-sans);
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}