@import "tailwindcss";
@import "@heroui/styles";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "katex/dist/katex.min.css";
@import "@fontsource/gloria-hallelujah";
@import "@fontsource-variable/atkinson-hyperlegible-next";

@theme {
	--font-handwritten: "Gloria Hallelujah", cursive;
	--font-heading: "Atkinson Hyperlegible Next Variable", var(--font-sans);

	--color-fd-primary: var(--accent);
}

:root {
	--accent: #0087be;
}

.dark {
	--color-fd-primary: var(--accent);
	--color-fd-primary-foreground: var(--color-fd-primary-foreground);
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading;
	}

	#nd-docs-layout {
		img[alt="erd"] {
			@apply mx-auto;
			height: 500px;
		}
	}
}

@media print {
	#nd-docs-layout {
		--fd-sidebar-width: 0px;
	}
	#nd-sidebar,
	#nd-sidebar-mobile,
	#nd-subnav,
	#nd-tocnav,
	#page-actions,
	#feedback,
	#feedback + div,
	#feedback + div + div {
		display: none;
	}

	article {
		@apply pt-0;
		@apply px-0;
	}
	#nd-page,
	#nd-docs-layout {
		@apply pt-0;
	}
}
