@import "tailwindcss";
@import "@heroui/styles";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "katex/dist/katex.min.css";
@import "@fontsource-variable/atkinson-hyperlegible-next";

@theme {
	--font-heading: "Atkinson Hyperlegible Next Variable", var(--font-sans);

	--color-accent: var(--accent);
	--color-fd-primary: var(--accent);
	--color-border: var(--color-fd-border);
	--color-card: var(--color-fd-card);
}

:root {
	--accent: #10b981;
}

.dark {
	--color-fd-primary: var(--accent);
	--color-fd-primary-foreground: var(--color-fd-primary-foreground);
}

@layer base {
	:root {
		--grid-color: rgba(0, 0, 0, 0.05);
		--vignette-color: rgba(255, 255, 255, 0.8);
	}

	.dark {
		--grid-color: rgba(255, 255, 255, 0.05);
		--vignette-color: rgba(9, 9, 11, 0.8);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading;
	}

	#nd-docs-layout {
		img[alt="erd"] {
			@apply mx-auto;
			height: 500px;
		}

		aside {
			@apply backdrop-blur-md;
			/* biome-ignore lint/complexity/noImportantStyles: we need to override the background color */
			background-color: transparent !important;
		}
	}
}

@media print {
	#nd-docs-layout {
		--fd-sidebar-width: 0px;
	}
	#nd-sidebar,
	#nd-sidebar-mobile,
	#nd-subnav,
	#nd-tocnav,
	#page-actions,
	#feedback,
	#feedback + div,
	#feedback + div + div {
		display: none;
	}

	article {
		@apply pt-0;
		@apply px-0;
	}
	#nd-page,
	#nd-docs-layout {
		@apply pt-0;
	}
}

.bg-noise {
	background-image: url("/noise.svg");
}
